/Sparked.Csv2FhirMapping/.vs/*
/Sparked.Csv2FhirMapping/bin/*
/Sparked.Csv2FhirMapping/obj/*
/Sparked.TestDataClient/bin/*
/Sparked.TestDataClient/obj/*
/au-core-inferno-tests/au_core_inferno_*.tar.gz
/Sparked.Csv2FhirMapping/*.pdb
/Sparked.TestDataClient/*.pdb
/*.log
