name: Validate

on:
  pull_request


jobs:
  Convert:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Install deps
      uses: ./.github/deps
    - name: Convert to json
      uses: ./.github/fhirmapping
    - id: git-diff-action
      run: echo "changed=$(git status --porcelain=v1 2>/dev/null | wc -l | tr -d '[:space:]')" >> "$GITHUB_OUTPUT"
    - if: steps.git-diff-action.outputs.changed != '0'
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: Update generated files
    - name: Report
      uses: ./.github/report
